{% extends 'base.html' %}

{% block content %}
<!-- Main Content -->
			<div class="container">

				<div class="row">
					<!-- Widget Item -->
					<div class="col-md-12">
						<div class="widget-area-2 proclinic-box-shadow">
							<h3 class="widget-title">Add Payment</h3>
							<form method = "POST" action = "{%url 'update_payment' %}" >
								{%csrf_token%}
								<div class="form-row">
									<div class="form-group col-md-6">
										<label for="patient-id">Patient ID</label>
										<input type="text" class="form-control" value="{% for i in payment %}{{i.patient_id}}{% endfor %}" placeholder="Patient ID" id="patient-id" name ="patient_id">
                                      <input type="text" name = "payment_id" class="form-control" value="{% for i in payment %}{{i.id}}{% endfor %}" id="payment-id" hidden>
                                    </div>
                                    <div class="form-group col-md-6">
										<label for="patient-name">Patient Name</label>
										<input type="text" class="form-control" value="{% for i in payment %}{{i.patient_name}}{% endfor %}" placeholder="Patient Name" id="patient-name" name="patient_name">
									</div>
									<div class="form-group col-md-6">
										<label for="doctor-name">Doctor Name</label>
										<input type="text" placeholder="Doctor Name" class="form-control" value="{% for i in payment %}{{i.doctor_name}}{% endfor %}" id="doctor-name" name="doctor_name">
									</div>
									<div class="form-group col-md-6">
										<label for="adminssion-date">Admission Date</label>
										<input type="date" value="{% for i in payment %}{{i.admission_date}}{% endfor %}" placeholder="Adminssion Date" class="form-control" id="adminssion-date" name="admission_date">
                                    </div>
                                    <div class="form-group col-md-6">
										<label for="discharge-date">Discharge Date</label>
										<input type="date" placeholder="Discharge Date" value="{% for i in payment %}{{i.discharge_date}}{% endfor %}" class="form-control" id="discharge-date" name="discharge_date">
                                    </div>
                                    <div class="form-group col-md-12">
										<h4>Payment(in Rs)</h4>
                                    </div>
                                    <div class="form-group col-md-3">
										<label for="room_charge">Room Charge</label>
										<input type="text" value="{% for i in payment %}{{i.room_charge}}{% endfor %}" placeholder="Room Charge" class="form-control" id="room_charge" name = "room_charge">
                                    </div>
                                    <div class="form-group col-md-3">
										<label for="doctor_fee">Doctor Fee</label>
										<input type="text" placeholder="Doctor fee" value="{% for i in payment %}{{i.doctor_fee}}{% endfor %}" class="form-control" id="doctor_fee" name = "doctor_fee">
                                    </div>

                                    <div class="form-group col-md-3">
										<label for="medicine_cost">Medicine Cost</label>
										<input type="text" placeholder="Medicine Cost" value="{% for i in payment %}{{i.medicine_cost}}{% endfor %}" class="form-control" id="medicine_cost" name="medicine_cost">
									</div>
									<div class="form-group col-md-3">
										<label for="other_charge">Other Charge</label>
										<input type="text" placeholder="Other Charge" value="{% for i in payment %}{{i.other_charge}}{% endfor %}" class="form-control" id="other_charge" name="other_charge">
									</div>
									<div class="form-group col-md-6 mb-3">
										<button type="submit" class="btn btn-primary btn-lg">Update</button>
									</div>
								</div>
							</form>
						</div>
					</div>
					<!-- /Widget Item -->
				</div>
			</div>
			<!-- /Main Content -->
{% endblock %}